# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LM0BBeginnersGameJam24.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ikbij\RiderProjects\LM0BBeginnersGameJam24\.idea\.idea.LM0BBeginnersGameJam24.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
